@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(16.029% 0.00168 16.738);
  --card: oklch(1 0 0);
  --card-foreground: oklch(16.029% 0.00168 16.738);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(16.029% 0.00168 16.738);
  --primary: oklch(20.500% 0.00000 0.000);
  --primary-foreground: oklch(98.500% 0.00000 0.000);
  --secondary: oklch(97.000% 0.00000 0.000);
  --secondary-foreground: oklch(20.500% 0.00000 0.000);
  --muted: oklch(97.000% 0.00000 0.000);
  --muted-foreground: oklch(55.600% 0.00000 0.000);
  --accent: oklch(97.000% 0.00000 0.000);
  --accent-foreground: oklch(20.500% 0.00000 0.000);
  --destructive: oklch(57.700% 0.24500 27.325);
  --border: oklch(92.200% 0.00000 0.000);
  --input: oklch(92.200% 0.00000 0.000);
  --ring: oklch(70.800% 0.00000 0.000);
  --chart-1: oklch(64.600% 0.22200 41.116);
  --chart-2: oklch(60.000% 0.11800 184.704);
  --chart-3: oklch(39.800% 0.07000 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(18.791% 0.00162 16.574);
  --sidebar-primary: oklch(20.500% 0.00000 0.000);
  --sidebar-primary-foreground: oklch(98.500% 0.00000 0.000);
  --sidebar-accent: oklch(97.000% 0.00000 0.000);
  --sidebar-accent-foreground: oklch(20.500% 0.00000 0.000);
  --sidebar-border: oklch(92.200% 0.00000 0.000);
  --sidebar-ring: oklch(70.800% 0.00000 0.000);
}

.dark {
  --background: oklch(20.252% 0.00319 17.025);
  --foreground: oklch(98.500% 0.00000 0.000);
  --card: oklch(20.500% 0.00000 0.000);
  --card-foreground: oklch(98.500% 0.00000 0.000);
  --popover: oklch(20.500% 0.00000 0.000);
  --popover-foreground: oklch(98.500% 0.00000 0.000);
  --primary: oklch(92.200% 0.00000 0.000);
  --primary-foreground: oklch(20.500% 0.00000 0.000);
  --secondary: oklch(26.900% 0.00000 0.000);
  --secondary-foreground: oklch(98.500% 0.00000 0.000);
  --muted: oklch(26.900% 0.00000 0.000);
  --muted-foreground: oklch(70.800% 0.00000 0.000);
  --accent: oklch(26.900% 0.00000 0.000);
  --accent-foreground: oklch(98.500% 0.00000 0.000);
  --destructive: oklch(70.400% 0.19100 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(48.800% 0.24300 264.376);
  --chart-2: oklch(69.600% 0.17000 162.480);
  --chart-3: oklch(76.900% 0.18800 70.080);
  --chart-4: oklch(62.700% 0.26500 303.900);
  --chart-5: oklch(64.500% 0.24600 16.439);
  --sidebar: oklch(20.500% 0.00000 0.000);
  --sidebar-foreground: oklch(98.500% 0.00000 0.000);
  --sidebar-primary: oklch(48.800% 0.24300 264.376);
  --sidebar-primary-foreground: oklch(98.500% 0.00000 0.000);
  --sidebar-accent: oklch(26.900% 0.00000 0.000);
  --sidebar-accent-foreground: oklch(98.500% 0.00000 0.000);
  --sidebar-border: oklch(92.200% 0.00000 0.000);
  --sidebar-ring: oklch(70.800% 0.00000 0.000);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.bg-noise {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.05'/%3E%3C/svg%3E");
}